.article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alata';
  height: 60vh;
  margin-top: 5rem;
}

.article img{
  margin-top: 3rem;
  width: 80vw;
}
.panel{
  text-align: center;
  color: hsl(0, 0%, 55%);
}
.panel h3{
color: black;
font-size: 2.5rem;
font-weight: 50;
text-transform: uppercase;
}

.panel p{
  margin: 0 1rem 0 1rem;

}
@media (min-width: 700px) {
  .panel p{
  margin: 0 5rem 0 5rem;
  }
}

@media(min-width: 960px){

  .article{
    margin-top: 15rem;
  }

  .article img{
    width: 70%;
   margin: 5rem 23.5rem 0 0 ; 
  }

  .panel {
    width:40rem;
    height: 35rem;
    margin: -30% 0 20% 51%;
    background-color: white;
  }
  .panel p{
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem 1rem 0 3rem;

  }
  .panel h3{
    font-size: 4rem;
    font-weight: 100;
    text-align: left;
    margin: 3rem 1rem 0 3rem;

  }



}
